<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SelfControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <SelfControl.Properties.Settings>
            <setting name="SelfControl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SecondsLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowToStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowToDelete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TurnOffPC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToffBarValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AllowReset" serializeAs="String">
                <value>True</value>
            </setting>
        </SelfControl.Properties.Settings>
    </userSettings>
</configuration>
